.catalog {
  padding: 30px 0 25px;
  border-bottom: 1px solid $border-gray;
}

.catalog__title {
  @include container;
  padding-bottom: 40px;
}

.catalog__list {
  @include ul;
}

.catalog__item {
  padding: 5px 0 25px;
  border-bottom: 1px solid $border-gray;
}

.catalog__item:first-child {
  border-top: 1px solid $border-gray;
}

.catalog__item-wrapper {
  @include container;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}

.catalog__item-text {
  flex-grow: 1;
}

.catalog__item-title {
  margin-bottom: 15px;
  font-family: $font-stack-headers;
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
}

.catalog__item-link {
  width: 100%;
}

@media #{$tablet-widths} {
  .catalog__list {
    @include container;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .catalog__item {
    box-sizing: border-box;
    width: 324px;
    padding: 30px 38px 40px;
    margin-top: 140px;
    background-color: $bg-gray;
    border-bottom: 0;
  }

  .catalog__item:first-child {
    border-top: 0;
  }

  .catalog__item-wrapper {
    flex-direction: column;
    width: 100%;
  }

  .catalog__item-img {
    margin-top: -90px;
    margin-bottom: 30px;
  }

  .catalog__item-text {
    width: 100%;
  }

  .catalog__item-title {
    margin-bottom: 30px;
    padding: 0 50px;
    font-size: 20px;
    text-align: center;
  }

  .catalog__item-title br {
    display: none;
  }
}

@media #{$desktop-widths} {
  .catalog {
    border-bottom: 0;
  }

  .catalog__item {
    width: 245px;
  }

  .catalog__item-title {
    margin-bottom: 10px;
    padding: 0 20px;
  }
}
