.contacts {
  background-color: $bg-gray;
  padding-top: 26px;
}

.contacts--index {
  background-color: $bg-white;
}

.contacts__wrapper {
  @include container;
}

.contacts__table {
  margin-bottom: 25px;
  border-collapse: collapse;
}

.contacts__title {
  width: 50%;
  font-family: $font-stack-headers;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  vertical-align: top;
}

.contacts__address {
  font-size: 14px;
  line-height: 20px;
  vertical-align: top;
}

.contacts__address br {
  display: none;
}

.contacts__map-img {
  width: 320px;
  height: 365px;
}

@media #{$tablet-widths} {
  .contacts {
    padding-top: 63px;
  }

  .contacts__wrapper {
    padding: 0 40px;
  }

  .contacts__table {
    width: 645px;
    margin: 0 auto;
    margin-bottom: 61px;
  }

  .contacts__title {
    width: 50%;
    padding-right: 155px;
    font-size: 20px;
    line-height: 25px;
  }

  .contacts__address {
    padding-left: 120px;
    padding-right: 20px;
    font-size: 16px;
    line-height: 20px;
    text-align: right;
  }

  .contacts__address br {
    display: block;
  }

  .contacts__map-img {
    width: 100%;
    height: 400px;
  }
}

@media #{$desktop-widths} {
  .contacts__wrapper {
    display: none;
  }
}
