.contacts {
  padding-top: 30px;
}

.contacts__wrapper {
  @include container;
}

.contacts__table {
  margin-bottom: 30px;
}

.contacts__title {
  font-family: $font-stack-headers;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
}

.contacts__address {
  font-size: 14px;
  line-height: 20px;
}

.contacts__map {
}

.demo__img {
}
