.contacts {
  background-color: $bg-gray;
  padding-top: 30px;
}

.contacts--index {
  background-color: $bg-white;
}

.contacts__wrapper {
  @include container;
}

.contacts__table {
  margin-bottom: 30px;
  border-collapse: collapse;
}

.contacts__title {
  font-family: $font-stack-headers;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
}

.contacts__address {
  font-size: 14px;
  line-height: 20px;
}

@media #{$tablet-widths} {
  .contacts {
    padding-top: 60px;
  }

  .contacts__wrapper {
    padding: 0 40px;
  }

  .contacts__table {
    margin-bottom: 70px;
  }

  .contacts__title {
    width: 50%;
    padding-right: 155px;
    font-size: 20px;
    line-height: 25px;
  }

  .contacts__address {
    padding-left: 155px;
    font-size: 16px;
    text-align: right;
  }
}

@media #{$desktop-widths} {
  .contacts__wrapper {
    display: none;
  }
}
