.copyright {
}

.copyright__link {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.copyright__text {
  font-family: $font-stack-main;
  font-size: 16px;
  line-height: 24px;
  text-transform: none;
  color: $text-dark;
}

.copyright__image {
}
