.demo {
  position: relative;
  padding: 30px 0 37px;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: $bg-gray;
    z-index: -1;
  }
}

.demo__wrapper {
  @include container;
}

.demo__title {
  margin-bottom: 33px;
}

.demo__text {
  margin-bottom: 20px;
}

.demo__counter {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 20px;
  padding-bottom: 16px;
}

.demo__index {
  position: relative;
  width: 123px;
  padding: 13px 0;
  font-family: $font-stack-headers;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  text-transform: uppercase;
  border: 1px solid $border-gray;
}

.demo__index b {
  position: absolute;
  bottom: -20px;
  left: 50%;
  box-sizing: border-box;
  width: 87px;
  padding: 0 20px;
  font-family: $font-stack-main;
  font-size: 12px;
  font-weight: 400;
  line-height: 14px;
  background-color: $bg-gray;
  text-transform: none;
  transform: translateX(-50%);
}

.demo__cost {
  margin-bottom: 35px;
  text-align: center;
  text-transform: uppercase;
}

.demo__indicator {
  @include container;
}

@media #{$tablet-widths} {
  .demo {
    margin-top: -31px;
    padding: 42px 0 69px;
    border-top: 1px solid $border-gray;

    &::after {
      top: auto;
      height: 460px;
    }
  }

  .demo__title {
    margin-bottom: 63px;
  }

  .demo__text {
    margin-bottom: 55px;
    padding-right: 10px;
    line-height: 24px;
  }

  .demo__text-container {
    margin-bottom: 52px;
  }

  .demo__stats {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .demo__counter {
    width: 370px;
  }

  .demo__index {
    width: 160px;
    padding: 14px 0;
    font-size: 30px;
    line-height: 38px;
  }

  .demo__index b {
    width: 140px;
    bottom: -10px;
    padding: 0;
    background-color: $bg-white;
    transform: translateX(-50%);
  }

  .demo__cost {
    width: 190px;
    line-height: 28px;
    text-align: right;
  }
}

@media #{$desktop-widths} {
  .demo__wrapper {
    display: flex;
  }

  .demo__text-container {
    padding-right: 130px;
  }

  .demo__title {
    margin-bottom: 140px;
  }

  .demo__text {
    margin-bottom: 80px;
    padding-right: 0;
  }

  .demo__stats {
    display: block;
  }

  .demo__index {
    margin-bottom: 20px;
  }

  .demo__index b {
    background-color: $bg-gray;
  }

  .demo__cost {
    width: 325px;
    text-align: left;
  }
}
