.how-to {
  padding: 25px 0 40px;
}

.how-to__wrapper {
  @include container;
}

.how-to__title {
  margin-bottom: 20px;
}

.how-to__list {
  @include ul;
}

.how-to__item {
  position: relative;
  min-height: 60px;
  padding-left: 80px;
  margin-bottom: 20px;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 60px;
    height: 60px;
    background-color: $accent-color;
  }
}

@media #{$tablet-widths} {
  .how-to {
    padding: 50px 0 60px;
  }

  .how-to__title {
    margin-bottom: 70px;
  }

  .how-to__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .how-to__item {
    width: 245px;
    padding-top: 115px;
    padding-left: 0;
    margin-bottom: 80px;

    &::before {
      top: 0;
      left: 0;
      width: 80px;
      height: 80px;
    }
  }

  .how-to__item:nth-child(odd) {
    margin-right: 130px;
  }
}

@media #{$desktop-widths} {
  .how-to__list {
    justify-content: space-between;
  }

  .how-to__item:nth-child(odd) {
    margin-right: 0;
  }
}
