.how-to {
  padding: 25px 0 40px;
}

.how-to__wrapper {
  @include container;
}

.how-to__title {
  margin-bottom: 20px;
}

.how-to__list {
  @include ul;
}

.how-to__item {
  position: relative;
  min-height: 60px;
  padding-left: 80px;
  margin-bottom: 20px;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 60px;
    height: 60px;
    background-color: $accent-color;
  }
}
