.how-to {
  padding: 31px 0 20px;
}

.how-to__wrapper {
  @include container;
}

.how-to__title {
  margin-bottom: 40px;
}

.how-to__list {
  @include ul;
}

.how-to__item {
  position: relative;
  min-height: 60px;
  padding-left: 80px;
  margin-bottom: 20px;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 60px;
    height: 60px;
    background-color: $accent-color;
  }

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 60px;
    height: 60px;
    background-repeat: no-repeat;
    background-position: center;
  }
}

.how-to__item--leaf {
  &::after {
    background-image: url("../img/advantage-leaf@1x.png");

    @media #{$retina} {
      background-image: url("../img/advantage-leaf@2x.png");
      background-size: 50px 50px;
    }
  }
}

.how-to__item--powder {
  &::after {
    background-image: url("../img/advantage-powder@1x.png");

    @media #{$retina} {
      background-image: url("../img/advantage-powder@2x.png");
      background-size: 50px 50px;
    }
  }
}

.how-to__item--dining {
  &::after {
    background-image: url("../img/advantage-dining@1x.png");

    @media #{$retina} {
      background-image: url("../img/advantage-dining@2x.png");
      background-size: 50px 50px;
    }
  }
}

.how-to__item--clock {
  &::after {
    background-image: url("../img/advantage-clock@1x.png");

    @media #{$retina} {
      background-image: url("../img/advantage-clock@2x.png");
      background-size: 50px 50px;
    }
  }
}

@media #{$tablet-widths} {
  .how-to {
    padding: 0;
    padding-top: 45px;
  }

  .how-to__title {
    margin-bottom: 72px;
  }

  .how-to__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .how-to__item {
    width: 255px;
    padding-top: 112px;
    padding-left: 0;
    margin-bottom: 133px;
    line-height: 24px;

    &::before {
      top: 0;
      left: 0;
      width: 80px;
      height: 80px;
    }

    &::after {
      width: 80px;
      height: 80px;
    }
  }

  .how-to__item:nth-child(odd) {
    margin-right: 130px;
  }
}

@media #{$desktop-widths} {
  .how-to__list {
    justify-content: space-between;
  }

  .how-to__item:nth-child(odd) {
    margin-right: 0;
  }
}
