.logo {
  position: relative;
  display: block;
  padding: 18px 0;
  text-align: center;
}

.logo-icon {
  position: absolute;
  top: 10px;
  left: 20px;
}

.logo--footer .logo-image {
  width: 128px;
  height: 24px;
}

.logo--footer .logo-icon {
  display: none;
}

@media #{$tablet-widths} {
  .logo {
    width: 175px;
    text-align: right;
  }

  .logo-icon {
    left: 0;
  }
}
