/* .offers {
}
 */
.offers__wrapper {
  @include container;
}

/* .offers__title {
}
 */
.offers__list {
  @include ul;
}

.offers__item {
  position: relative;
  background-color: $bg-gray;
  padding: 40px 0 20px;
  margin-bottom: 20px;

  &::before {
    content: "";
    position: absolute;
    top: 25px;
    left: 20px;
    width: 50px;
    height: 50px;
    background-color: $accent-color;
    border-radius: 50%;
  }
}

.offers__item:last-child {
  margin-bottom: 0;
}

.offers__item--loss {
  &::after {
    content: "";
    position: absolute;
    top: 23px;
    left: 28px;
    width: 35px;
    height: 49px;
    background-image: url("../img/icon-cat-slim.svg");
  }
}

.offers__item--gathering {
  &::after {
    content: "";
    position: absolute;
    top: 35px;
    left: 10px;
    width: 67px;
    height: 28px;
    background-image: url("../img/icon-cat-pro.svg");
  }
}

.offers__item-title {
  margin-bottom: 38px;
  margin-left: 90px;
  font-family: $font-stack-headers;
  font-size: 20px;
  background-image: 24px;
  text-transform: uppercase;
}

.offers__item-text {
  margin: 0 20px 20px;
  padding-bottom: 25px;
  border-bottom: 1px solid $border-gray;
}

.offer__link {
  position: relative;
  margin-left: 20px;
  padding-right: 40px;
  font-size: 16px;
  line-height: 24px;
  color: $text-black;

  &::after {
    content: "";
    position: absolute;
    top: 6px;
    right: 0;
    width: 24px;
    height: 11px;
    background-image: url("../img/icon-right-arrow-long.svg");
  }
}

.offer__link:active {
  color: rgba($text-black, 0.3);
}

@media #{$tablet-widths} {
  .offers__item {
    padding: 80px 0 60px;

    &::before {
      width: 200px;
      height: 200px;
      left: auto;
      top: 50%;
      right: 60px;
      transform: translateY(-50%);
    }
  }

  .offers__item--loss {
    &::after {
      top: 84px;
      left: auto;
      right: 90px;
      width: 140px;
      height: 194px;
    }
  }

  .offers__item--gathering {
    &::after {
      top: 127px;
      left: auto;
      right: 26px;
      width: 268px;
      height: 112px;
    }
  }

  .offers__item-title {
    margin-left: 52px;
    font-size: 36px;
    line-height: 44px;
  }

  .offers__item-text {
    margin-left: 52px;
    margin-right: 275px;
    font-size: 16px;
    line-height: 24px;
    border-bottom: 0;
  }

  .offer__link {
    margin-left: 52px;
    font-size: 20px;
  }
}
