.page-footer {
  padding: 15px 0 20px;
  color: $text-dark;
  background-color: $bg-gray;
}

.page-footer__wrapper {
  @include container;
}

.page-footer__logo {
  margin-bottom: 6px;
}

.page-footer__social {
  margin-bottom: 24px;
}

@media #{$tablet-widths} {
  .page-footer {
    padding: 37px 0 20px;
  }

  .page-footer__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .page-footer__logo {
    text-align: left;
    margin-bottom: 0;
    width: 155px;
  }

  .page-footer__social {
    margin-bottom: 0;
  }
}
