.promo {
  padding: 30px 0 20px;
  background-image: url('../img/index-background-mobile@1x.jpg');
  background-position: top center;
  background-repeat: no-repeat;
  background-size: 100% auto;
  color: $bg-white;
}

.promo__wrapper {
  @include container;
  text-align: center;
}

.promo__title {
  margin-bottom: 25px;
}

.promo__subtitle {
  margin-bottom: 30px;
}

.promo__img {
  margin-bottom: 10px;
}
