.promo {
  position: relative;
  padding: 24px 0 20px;
  color: $bg-white;
  text-align: center;
  background-image: url("../img/index-can-mobile@1x.png");
  background-position: center 165px;
  background-repeat: no-repeat;
  background-size: 280px 271px;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 305px;
    background-image: url("../img/index-background-mobile@1x.jpg");
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;

    @media #{$retina} {
      //background-image: url("../img/index-background-mobile@2x.jpg");
      //background-size: 640px auto;
    }
  }

  @media #{$retina} {
    background-image: url("../img/index-can-mobile@2x.png");
    //background-size: 560px auto;
  }
}

.promo__wrapper {
  @include container;
  text-align: center;
}

.promo__title {
  margin-bottom: 22px;
}

.promo__subtitle {
  margin-bottom: 300px;
  text-transform: uppercase;
}

@media #{$tablet-widths} {
  .promo {
    padding-top: 34px;
    padding-bottom: 533px;
    color: $text-black;
    background-image: url("../img/index-can-tablet@1x.jpg");
    background-position: center 235px;
    background-size: 709px 609px;

    &::after {
      display: none;
    }
  }

  .promo__wrapper {
    padding-left: 117px;
    text-align: left;
  }

  .promo__title {
    padding-right: 195px;
    margin-bottom: 39px;
  }

  .promo__subtitle {
    margin-bottom: 41px;
    text-transform: uppercase;
  }

  .promo__link {
    width: 248px;
    padding: 14px 0;
    font-size: 20px;
    line-height: 24px;
  }
}

@media #{$desktop-widths} {
  .promo {
    position: static;
    padding-bottom: 240px;
    background-position: center 20px;
    background-size: 522px 449px;

    &::after {
      display: block;
      top: 0;
      left: auto;
      right: 0;
      width: 640px;
      height: 610px;
    }
  }

  .promo__title {
    padding-right: 710px;
  }

  .promo__subtitle {
    margin-bottom: 60px;
  }
}
