@mixin clearfix {
  &::after {
    content: "";
    display: table;
    clear: both;
  }
}

@mixin ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

@mixin fieldset {
  margin: 0;
  padding: 0;
}

@mixin size($width, $height: $width) {
  width: $width;
  height: $height;
}

@mixin zero-centered {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

@mixin container {
  width: 280px;
  margin: 0 auto;

  @media #{$tablet-widths} {
    width: 708px;
  }

  @media #{$desktop-widths} {
    width: 1220px;
  }
}

@mixin accent-line {
  position: relative;

  &::after {
    content: "";
    position: absolute;
    top: 17px;
    left: 0;
    right: 0;
    height: 3px;
    background-color: $accent-color;
    z-index: -1;
  }
}

@mixin before-box {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: -20px;
    width: 20px;
    background-color: $bg-white;
  }
}
