$bg-white: #ffffff;
$bg-gray: #f2f2f2;

$accent-color: #68b738;

$text-black: #111111;
$text-white: #ffffff;
$text-dark: #444444;

$border-gray: #e6e6e6;
$btn-hover: #5eaa2f;

$font-stack-main: 'Arial', sans-serif;
$font-stack-headers: 'Oswald', 'Arial', sans-serif;

$tablet-widths: (min-width: 760px);
$desktop-widths: (min-width: 1200px);
$mobile-widths-only: (max-width: 759px);
$retina: (min-resolution: 144dpi),  (min-resolution: 1.5dppx);
